.part3-homepage {
    width: 100%;
    height: 450px;
    background: white;
    position: relative;
}
.part3-wrapper {
    width: 1169px;
    height: 362px;
    position:absolute;
    left: 150px;
    top: 34px;
    // border: 1px solid black;
}
.part3-heading {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 49px;
}