.service-detail-container-wrapper {
    background: #F6F8F9;
    width: unset;
    height: 2182px;
}

.service-detail-component-wrapper {
    background: #FFFFFF;
    width: 1170px;
    height: 2113px;
}