.content-paragraph {
  border: 1px solid black;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}
.ant-list-items {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.3333%;
    column-gap: 31px;
    row-gap: 18px;
}