.other-service-list {
    position: absolute;
    top: 58px;
}

.other-service-list-flex {
    position: absolute;
    width: 1039px;
    top: 100px;
    left: 65px;
}
.other-news-list {
    position: relative;
    width: 1039px;
    top: 100px;
    right: 70px;
}
.other-news-list-detail {
    width: 1039px;
    top: 50px;
    left: 70px;
}
.detail-page-list{
    position: absolute;
    top: 70px
}